.btns
{
    margin-top: 30px;
    height: 50px;
    width:98%;
    margin-left: 1%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    
}
/* like btn stle start */


.container {
/* height: 100vh; */
height: 50px;
display: flex;
justify-content: center;
align-items: center;
/* background-color: #eee */

}

.like_button {
width: 120px;
height: 30px;
background-color: #de5e5e;
display: flex;
justify-content: center;
align-items: center;
border-radius: 7px;
font-size: 16px;
color:#fff;
cursor: pointer;
/* color: white; */
font-weight: bold;
}


.animated .bx {
transition: all 0.5s;
position: relative
}



.animated .bx::after {
position: absolute;
content: '';
height: 12px;
width: 20px;
background-color: #aaa;
transform: rotate(15deg);
left: 5px;
top: -5px
}

.animated .bx {
transform: rotate(20deg);

}

.like_button .bx{
transition:all 0.5s;
}


.like_button .like_text {
padding-left: 8px;
font-size:19px;
margin-top:2px;
transition:all 0.8s;
}
/* like btn style ends  */

.deletebtn button {
width: 120px;
height: 30px;
cursor: pointer;
display: flex;
align-items: center;
background: #e62222;
border: none;
border-radius: 5px;
box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
background: #e62222;
}

.deletebtn button,.deletebtn  button span {
transition: 200ms;
}

.deletebtn button .text {
transform: translateX(20px);
color: white;
font-weight: bold;
}

.deletebtn button .icon {
position: absolute;
border-left: 1px solid #c41b1b;
transform: translateX(90px);
height: 20px;
width: 20px;
display: flex;
align-items: center;
justify-content: center;
}

.deletebtn button svg {
width: 10px;
fill: #eee;
}

.deletebtn button:hover {
background: #ff3636;
}

.deletebtn button:hover .text {
color: transparent;
}

.deletebtn button:hover .icon {
width: 100px;
border-left: none;
transform: translateX(0);
}

.deletebtn button:focus {
outline: none;
}

.deletebtn button:active .icon svg {
transform: scale(0.8);
}